form button {
  margin-top: 10px;
  width: 100%;
}

form .error {
  font-style: italic;
  color: red;
}

form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

form .form-group.row {
  flex-direction: row;
}
